html{
    font-size: 10px;
    font-family: Helvetica, Verdana, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 1.5rem;
}

/* HEADER */

header,
#maior,
#links_cabecalho,  
#ul_cabecalho, 
#div_logo,
#div_botoes_cabecalho,
nav,
#ul_nav,
div,
figure,
form {
    display: flex;

}

header {
    background-color: #43c14b;
    color: white;
    min-height: 16.2rem;
    flex-direction: column;
}

#display_row{
    flex-direction: row;
    justify-content: space-around;
    min-height: 12rem;
}

.links{
    margin: 0.1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    padding-inline: 0.2rem;
    list-style: none;
}

.links :hover{
    color: #9ef49a !important;
}

#ul_cabecalho :not(:last-child) {
    border-right: solid;
    border-width: 0.1rem;
}

#links_cabecalho {
    
    max-width: 50rem;
    align-items: center;
    justify-content: center;
}

#div_logo {
    flex-wrap: wrap;
    width: 35rem;
    justify-content: center;
}

#logo {
    max-width: 17rem;
    object-fit: contain;
}

h1 {
    font-weight: normal;
    font-size: 1.5rem;
}

button {
    cursor: pointer;
}

.botoes_cabecalho {
    height: 3rem;
    border: solid;
    border-radius: 0.7rem;
    border-width: 0.15rem;
    border-color: white;
    background-color: transparent;
    width: 8rem;
    color: white; 
}

#botao_pesquisa{
    margin-right: 0.5rem;
}

#div_botoes_cabecalho {
    width: 20rem;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: #046723;
    padding: 0.7rem;
}

#ul_nav {
    list-style: none;
    gap: 1rem;
    flex-grow: 1;
    justify-content: space-around;
}

/* IMAGEM */

figure{
    object-fit: contain;
    
}

#ifpe {
    flex-grow: 1;
}

/* COMECE AGORA */

#div_comece_agora {
    background-color: #7aa120;
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-height: 5rem;
    align-items: center;
    color: white;
    font-size: 1rem;
}

#div_comece_agora h2 {
    font-size: 2rem;
    min-width: fit-content;
    font-weight: normal;
    margin-left: 0.5rem;
}

#div_comece_agora p {
    font-weight: normal;
    margin-left: 1rem;
}

/* MAIN */

main,
section,
article,  
#first_line,
#second_line,
.cards {
    display: flex;
    flex-direction: row;
    column-gap: 5rem;
}

main, #quadros {
    flex-direction: column;
    /* margin: 2rem; */
    justify-content: center;
    row-gap: 1rem;
    align-items: center;
}

main {
    margin: 3rem;
}

#quadros {
    margin-bottom: 1rem;
}

article ul {
    flex-direction: column;
}

.cards{
    flex-direction: column;
    min-height: 25rem;
    max-height: 25rem;
    min-width: 30rem;
    max-width: 30rem;
    background-color: #e7ecf0;
}


#first_line p {
    color: black;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 4rem;
}


#first_line ul li {
    margin-left: 4rem;
    margin-bottom: 1rem;
    color: #81858a;
}

#second_line p {
    color: black;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 4rem;
}

#second_line ul li {
    margin-left: 4rem;
    margin-bottom: 1rem;
    color: #81858a;
}

#pesquisas_em_destaque{
    background-color: #106e0e;
}

#pesquisas_em_destaque p {
    color: white;
}

.nao_negrito {
    font-weight: normal !important;
}

#seja_um_mentor {
    background-color: #b6ebb9;
    color: black;
}

/*BOTOES*/


#section_botoes, 
.ul_botoes {
    display: flex;
    column-gap: 1rem;
    width: 1000px;
    justify-content: space-between;

}

.ul_botoes li button {
    width: 22rem;
    height: 3rem;
    background-color: white;
    color: #43c14b;
    border-radius: 0.5rem;
    border: solid;
    border-color: #43c14b;
    border-width: 0.1rem;
}

.ul_botoes li  {
    list-style: none;
    
}

/* FOOTER */

footer{
    display: flex;
    background-color: #343c35;
    flex-direction: column;
}

footer div {
    flex-direction: column;
    flex-grow: 1;
    min-height: 45rem;
}

footer dt,
footer div p {
    color: white;
    padding-bottom: 2rem;
}

footer dd {
    padding-bottom: 0.5rem;
}

footer a {
    color: #81858a;
    text-decoration: none;
}

footer section {
    /* border-bottom: solid;
    border-color: white;
    border-bottom-width: 0.01rem; */
    
}

footer a:hover{
    color: white;
}

footer dl, #ultima_coluna {
    margin: 2rem;
}

#fim_pagina {
    display: flex;
    padding: 1.5rem;
    justify-content: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border-top: solid;
    border-color: white;
    border-top-width: 0.01rem;
    color: white;
}