main h2,
main p {
    text-align: center;
    margin: 2rem;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

input,
textarea {
    background-color: #EEEEEE;
    border-radius: 5px;
    border: var(--preto) solid 1px;
    min-height: 3rem;
    width: 100%;
}

#submit_button {
    margin-top: 1rem;
    width: 100%;
}

main img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    justify-self: center;
}

@media (max-width: 750px) {
    section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "img" "form";
    }

    main img {
        grid-area: img;
    }

    form {
        grid-area: form;
    }
}

@media (max-width: 375px) {
    h2 {
        font-size: 2.5rem;
    }
}